* {

    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#photo {

    /* Ancho del elemento */
    width: 8vw;

    /* Alto del elemento */
    height: auto;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;

}
nav > ul {

    /* Eliminar los estilos de lista predeterminados */
    list-style: none;

}

footer{
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 40px;
    background-color: black;
    padding: 20px 0;

}

footer p{
    margin: 0;
    padding: 10px 0;
    color: white;
    font-weight: 500;
}

footer a{
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 12px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}